.explorer {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.2rem;
  flex: 0 1 auto;
}

.explorer.collapsed {
  flex: 0 1 1.2rem;
}

.explorer-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 0.5rem;
}

.explorer button {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;
}

.explorer button h2 {
  font-size: 1rem;
  display: inline-block;
  margin: 0;
}

.explorer .fold {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.explorer.collapsed .fold {
  transform: rotateZ(-90deg);
}

@media all and (max-width: 800px) {
  .explorer {
    order: -1;
    height: initial;
    overflow: hidden;
    flex-shrink: 0;
  }
}
